<ion-content class="ion-text-center">
  <img src="assets/imgs/cafe.png" />
</ion-content>

<ion-footer class="ion-no-border">

  <ion-list lines="none">
    <ion-item>
      <ion-label color="dark">
        <span class="title">Welcome</span>
        <p class="ion-text-wrap ion-text-justify">
          <ion-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </ion-text>
        </p>
        <ion-row class="ion-padding-vertical">
          <ion-col size="6">
            <ion-button routerLink="/welcome/signin" 
              size="default" expand="block" shape="round" color="dark">
              Sign In
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button routerLink="/welcome/signup" 
              size="default" expand="block" shape="round" color="white">
              Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-footer>
